@charset "utf-8";

a{
	text-rendering: none;
}

li{
	list-style: none;
}

body{
	background-color: #FFFACD;
}

.box{
	margin-top:20px;
	margin-bottom: 85px;
}

.globe{
	border-radius: 10px;
	max-width:200px;
	max-height: 200px;
}