@charset "utf-8";

a{
	text-decoration:none;
}

li{
	list-style: none;
}

body{
	background-color: #FFFACD;
}
/*navbar*/
/**/
/*./navbar*/

/*cover*/
 .jumbotron {
 	background:url(../photos/vegetables.jpg)center no-repeat; 
 	background-size: cover;
 	margin-top:50px;
 	height:400px;
 	color:white;
 	font-size:85px;
 }

 .title{
 	padding-top:100px;
 }
/*./cover*/
/*text*/
.text-area{
	margin-bottom:20px;
}

.choice-area{
	margin-bottom: 20px;
}

.main{
	margin-bottom: 80px;
}
/*./text*/