@charset "utf-8";

a{
	text-rendering: none;
}

li{
	list-style: none;
}

body{
	background-color: #FFFACD;
}

div.scroll {
  width: 500px;
  height:400px;
  overflow: scroll;
  border:solid 1px black ;
}

form{
	margin-top: 20px;
}

.box{
	padding-top:60px;
	margin-bottom:100px;
}

.naiyou{
	float: left;
	/*padding-right:5px;*/
}

/*.naiyou{
	position:relative;
}*/

/*.sousin{
	line-height: 25px;
	margin-left:10px;
	position:absolute;
	top: 18px;
	left: 390px;

}*/

/*吹き出し左　始め*/
.balloon1-left {
 	position: relative;
	display: inline-block;
 	margin: 0em 0 1.5em 15px;
	padding: 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
}

.balloon1-left:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #e0edff;
}

.balloon1-left p {
	margin: 0;
	padding: 0;
}
/*吹き出し左　終わり*/

/*吹き出し右　始め*/
.balloon1-right {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 15px 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
}

.balloon1-right:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
 	margin-top: -15px;
	border: 15px solid transparent;
	border-left: 15px solid #e0edff;
}

.balloon1-right p {
	margin: 0;
	padding: 0;
}
/*吹き出し右　終わり*/
