@charset "utf-8";

a{
	text-rendering: none;
	margin:10px;
}

li{
	list-style: none;
}

body{
	background-color: #FFFACD;
	margin-bottom:70px;
	margin-top:80px;
}

.globe{
	border-radius: 1000px;
	padding
}

.main{
	margin-top:150px;
}
