@charset "utf-8";

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.header-left{
  display:block;
  float:left;
  margin-top: 8px;
}

.header-signin{
  display:inline-block;
  float:right;
  background-color:rgba(84,196,126,0.3);
  margin:0px 10px;
  padding:0px 10px;
}

.header-signin:hover{
  opacity:0.8;
}

.header-signin a {
  color:white;
}

.header-login a {
  color:white;
}

.header-signin a{
  display:block;
  line-height:50px;
}

.header-login{
  display:inline-block;
  float:right;
  background-color:rgba(84,196,126,0.3);
  margin:0px 10px;
  padding:0px 10px;
}

.header-login:hover{
  opacity:0.8;
}

.header-login a{
  line-height:50px;
  display:block;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-mypage{
  display:inline-block;
  float:right;
  background-color:rgba(84,196,126,0.3);
  margin:0px 10px;
  padding:0px 10px;
}

.header-mypage:hover{
  opacity:0.8;
}

.header-mypage a {
  color:white;
}

.header-login a {
  color:white;
}

.header-mypage a{
  display:block;
  line-height:50px;
}

li{
	list-style:none;
}

header{
  height:50px;
  width:100%;
  position:fixed;
  top:0px;
  z-index:10;
  background-color:rgba(34,49,52,0.8);
}

.logo{
  float:left;
  width:124px;
  margin-top:8;
}

.top-wrapper {
  padding:180px 0px 100px 0px;
	/*background-image:url(../photos/vegetables.jpg);
	background-size:cover;*/
  color:white;
  text-align:center;
  font-size:70px;
}



.explain{
  text-align: center;
  border-bottom:1px solid #eee;
}

.explain-text{
  width:50%;
  margin:0px auto;
}

.btn-wrapper{
  display:inline-block;
}

.urikai{
  float:left;
  margin:15px 30px;
}

.rireki{
  float:left;
  margin:15px 30px;
}

.btn{
  background-color:orange;
  padding:10px 10px;
  color:white;
  border-radius:5px;
}

.footer-logo{
  padding:30px 20px;
  width:124px;
}