@charset "utf-8";

body{
  background-color:#FFFACD;
  margin-bottom: 90px;
}


.title{
  margin-top:60px;
}

.vege_img img{
  border-radius: 15px;
  max-width:250px;
  height:200px;
  padding:10px;
}
