@charset "utf-8";

a{
	text-rendering: none;
}

li{
	list-style: none;
}

body{
	background-color: #FFFACD;
}

.title{
	margin-top:75px;
	margin-bottom:15px;
}

.product_img img{
	max-width:150px;
	max-height:200px;
	border-radius: 5px;
	margin-top:18px;
}

body{
	margin-bottom:80px;
}

.btn_zone {
	margin:10px;
}

.confirm_box{
	padding-bottom:40px;
}
