@charset "utf-8";

a{
	text-decoration:none;
}

li{
	list-style: none;
}

body{
	background-color: #FFFACD;
	margin-bottom: 90px;
}

.title{
	margin-top:75px;
}

.box{
	margin-top:20px;
}

textarea {
    resize: vertical;
    max-height: 500px;
    min-height: 100px;
}